<header class="header">
    <div class="header-inner">

        <a href="/" class="logo">
            <div class="header-logo">
                <img src="/images/mentorship.png" alt="" class="progress-logo-icon">
                <h1>weekly(progress)&#123;</h1>
            </div>
        </a>

        <label id="hamburger-icon" for="hamburger-btn">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
        <input id="hamburger-btn" type="checkbox" />

        <nav class="menu">
            
            <ul>
                <li><a href="/weeks">All weeks</a></li>
                <li><a href="/weeks/new">Add New Week</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>